html {
height:100%;  
}  


body {
height:100%;
margin:0;
}  


#topbar {
border-bottom-style:solid;
border-bottom-color:lightgrey;
border-bottom-width:2%;
height:10%;
}

#asteroidHub {
border-style:solid;
border-color:lightgrey;
border-width:2%;
height:90%;
top:10%;
}

#asteroidScene {


}
