html {
 height:100%;
 width:100%;
}  


#topbar {
border-style:solid;
border-color:lightgrey;
border-width:2%;
}

#asteroidHub {
border-style:solid;
border-color:lightgrey;
border-width:2%;
}

#asteroidScene {


}
